# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.venv/

aircon.json
api.json
client.json
hue.json
database.json
broadlink.json
test.py
TODO
ReleaseNotes.txt

# For storing temps from monitoring
temps/*

# For build mkdocs site
docs/site/